<% if logged_in? %>
  <% title = "フォロー中" %>
  <% og_title = "フォロー中" %>
<% else %>
  <% title = "" %>
  <% og_title = "Mysize(マイサイズ) -スニーカーSNS-" %>
<% end %>
<% provide(:title, title) %>
<% provide(:og_title, og_title) %>
<% provide(:og_url, root_url) %>
<%= render 'layouts/left_popup' %>

<% if logged_in? %>
  <%= render partial: 'static_pages/home_logged_in',
             locals: { target: nil } %>
<% else %>
  <div class="container">
    <div class="content-fspace">
      <div class="page-title c">
        <div class="top-title c">
          <%= image_tag("/images/top-logo.png") %>
        </div>
      </div>
      <div class="top-main c" id="top-main">
        <h2 class="top-text"><%= t('views.static_pages.home.top-text') %></h2>
        <div class="top-lead">
          <div class="text" style="margin: 0;">
            <p><small><%= t('views.static_pages.home.top-lead') %></small></p>
            <p><%= fa_icon('hand-o-down') %></p>
          </div>
          <a class="about-stitle jump" data-scroll="-51" href="<%= about_path %>#about-can3">
            <span class="logo-font about-logo">Mysize</span>でできる３つのこと
          </a>
        </div>
      </div>
      <div class="c button button-large twitter-color">
        <%= link_to fa_icon("twitter") + t('views.login.twitter_register_or_login'), '/auth/twitter' %>
      </div>
      <div class="c button button-large accent">
        <%= link_to t('views.login.normal_register'), signup_path %>
      </div>
      <div class="c button mini-button waccent">
        <%= link_to fa_icon("sign-in") + t('views.login.normal_login'), login_path %>
      </div>
    </div>
  </div>
<% end %>