<% if logged_in? %>
  <% title = "フォロー中" %>
  <% og_title = "フォロー中" %>
<% else %>
  <% title = "" %>
  <% og_title = "Mysize -スニーカーサイジング共有SNS-" %>
<% end %>
<% provide(:title, title) %>
<% provide(:og_title, og_title) %>
<% provide(:og_url, root_url) %>

<% if logged_in? %>
  <%= render partial: 'static_pages/home_logged_in',
             locals: { target: nil } %>
<% else %>
  <div class="content">
    <div class="page-title c">
      <div class="top-title">
        <%= image_tag("/images/apps_icon1.png", size: 90) %>
        <span class="logo-font">Mysize</span>
      </div>
    </div>
    <div class="top-main">
      <h2 class="top-text c">
        <p>スニーカー好きのための</p>
        <p>スニーカーに特化したSNS</p>
      </h2>
    </div>
    <div class="c button button-large twitter-color">
      <%= link_to fa_icon("twitter") + "Twitterで登録/ログイン", 'auth/twitter' %>
    </div>
    <div class="c button button-large accent">
      <%= link_to "MysizeIDで登録する", signup_path %>
    </div>
    <div class="c atention">
      <p>
        <%= link_to fa_icon("sign-in") + " MysizeIDでログインする", login_path %>
      </p>
    </div>
  </div>
<% end %>