<% provide(:title, "ログイン") %>
<%= render 'layouts/back', back_path: "#{root_path}" %>

<div class="content">
  <div class="page-title">
    <h1 class="title-text">ログイン<small>(MysizeID)</small></h1>
  </div>
  <div class="d">
    <%= form_tag('/login', method: "post") do %>
      <div class="base-form">
        <%= text_field_tag :mysize_id, nil, placeholder: "MysizeIDまたはメールアドレス" %>
      </div>
      <div class="base-form">
        <%= password_field_tag :password, nil, placeholder: "Password" %>
      </div>
      <div class="button button-mini accent">
        <%= submit_tag "ログイン", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
    <div class="c atention">
      <p>
        <%= link_to "パスワードを忘れた", new_password_reset_url %>
      </p>
    </div>
    <div class="c atention">
      <p>
        <%= link_to "アカウントを持っていない", signup_url %>
      </p>
    </div>
  </div>
</div>