<% provide(:title, "パスワード再設定") %>

<div class="content-pspace">
  <div class="ps-page-title">
    <h1 class="title-text">パスワード再設定</h1>
  </div>
  <div class="text">
    <p>新しいパスワードを設定してください。</p>
  </div>
  <div class="form">
    <%= form_for(@user, url: password_reset_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div><%= hidden_field_tag :e_token, @user.e_token %></div>
      <div><%= hidden_field_tag :rst, params[:rst] %></div>
      <div class="base-form">
        <%= f.password_field :password, placeholder: "新しいPassword" %>
      </div>
      <div class="base-form">
        <%= f.password_field :password_confirmation, placeholder: "Password確認" %>
      </div>
      <div class="c button accent nls">
        <%= submit_tag "パスワード再設定", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>