<div class="notice-images clear">
  <% @followers[@num].first(5).each do |user| %>
    <%= link_to image_tag(image_url(user), size: 40, alt: user.name),
        user_path(user, display: "square"), class: "notice-image" %>
  <% end %>
  <%= fa_icon("ellipsis-h") if @followers[@num].count >= 6 %>
</div>
<div class="notice-text">
  <% if @followers[@num].count >= 2 %>
    <span><%= @followers[@num][0].name %></span>さん, 他 <%= @followers[@num].count - 1 %>人にフォローされています。
  <% else %>
    <span><%= @followers[@num][0].name %></span>さんにフォローされています。
  <% end %>
</div>
<% @num += 1 %>