<div class="notice-images clear">
  <% gpcount = @gposters[@gpostnum].to_a.size %>
  <% @gposters[@gpostnum].first(2).each do |user| %>
    <%= link_to image_tag(image_url(user), size: 40, alt: user.name),
        user_path(user, display: "square"), class: "list-image" %>
  <% end %>
  <%= fa_icon("ellipsis-h") if gpcount >= 6 %>
</div>
<div class="notice-text">
  <% if gpcount >= 2 %>
    <span><%= @gposters[@gpostnum][0].name %></span>さん, 他 <%= gpcount - 1 %>人があなたの投稿にグッドをしています。
  <% else %>
    <span><%= @gposters[@gpostnum][0].name %></span>さんがあなたの投稿にグッドをしています。
  <% end %>
</div>
<% @gpostnum -= 1 %>