<% ntype = notice.kind_type %>
<li id="notice-list-<%= notice.id %>" class="notice-list link-list">
  <% if ntype == "Follow" %>
    <a class="content-link" href="<%= followers_user_path(current_user) %>"></a>
  <% else %>
    <% if ntype.in?(["ReplyCom", "NormalCom", "Comment"]) %>
      <% linkpost = @posts[@pnum].kickspost %>
    <% else %>
      <% linkpost = @posts[@pnum] %>
    <% end %>
    <a class="content-link" href="<%= kickspost_path(linkpost.user.mysize_id, linkpost) %>"></a>
  <% end %>
  <div class="content-abs">
    <div class="content-height">
      <div class="list-content clear">
        <% if ntype == "Follow" %>
          <%= render partial: 'notices/notice_main',
                     locals: { users: @followers[@fnum],
                               count: @fcounts[@fnum],
                               ntype: ntype } %>
          <% @fnum -= 1 %>
        <% elsif ntype.in?(["ReplyCom", "NormalCom"]) %>
          <%= render partial: 'notices/notice_main',
                     locals: { post:  @posts[@pnum],
                               user:  @posts[@pnum].user,
                               count: 1,
                               ntype: ntype } %>
          <% @pnum += 1 %>
        <% elsif ntype == "Comment" %>
          <%= render partial: 'notices/notice_main',
                     locals: { post:  @posts[@pnum],
                               users: @gcommers[@gcnum].first(2),
                               count: @gcommers[@gcnum].to_a.size,
                               ntype: ntype } %>
          <% @pnum += 1 %>
          <% @gcnum += 1 %>
        <% elsif ntype == "ReplyPost" %>
          <%= render partial: 'notices/notice_main',
                     locals: { post:  @posts[@pnum],
                               user:  @posts[@pnum].user,
                               count: 1,
                               ntype: ntype } %>
          <% @pnum += 1 %>
        <% elsif ntype == "Kickspost" %>
          <%= render partial: 'notices/notice_main',
                     locals: { post:  @posts[@pnum],
                               users: @gposters[@gpnum].first(2),
                               count: @gposters[@gcnum].to_a.size,
                               ntype: ntype } %>
          <% @pnum += 1 %>
          <% @gpnum += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</li>