<li id="notice-list-<%= notice.id %>" class="notice-list link-list">
  <% if notice.kind.in?(["comment", "reply", "gcom_list"]) %>
    <% comment = Comment.find_by(id: notice.kind_id) %>
    <a class="content-link" href="<%= kickspost_path(comment.kickspost.user.mysize_id, comment.kickspost) %>"></a>
  <% elsif notice.kind == "follow_list" %>
    <a class="content-link" href="<%= followers_user_path(current_user) %>"></a>
  <% elsif notice.kind == "gpost_list" %>
    <% kickspost = Kickspost.find_by(id: notice.kind_id) %>
    <a class="content-link" href="<%= kickspost_path(kickspost.user.mysize_id, kickspost) %>"></a>
  <% end %>
  <div class="content-abs">
    <div class="content-height">
      <div class="list-content clear">
        <% if notice.kind == "follow_list" %>
          <%= render partial: 'notices/notice_main',
                     locals: { users: @followers,
                               counts: @fcounts,
                               num: @fnum,
                               nkind: notice.kind } %>
        <% elsif notice.kind.in?(["comment", "reply"]) %>
          <%= render partial: 'notices/notice_main',
                     locals: { comment: comment,
                               user: comment.user,
                               count: 1,
                               num: 0,
                               nkind: notice.kind } %>
        <% elsif notice.kind == "gpost_list" %>
          <%= render partial: 'notices/notice_main',
                     locals: { kickspost: kickspost,
                               users: @gposters,
                               counts: @gpcounts,
                               num: @gpnum,
                               nkind: notice.kind } %>
        <% elsif notice.kind == "gcom_list" %>
          <%= render partial: 'notices/notice_main',
                     locals: { comment: comment,
                               users: @gcomers,
                               counts: @gccounts,
                               num: @gcnum,
                               nkind: notice.kind } %>
        <% end %>
      </div>
    </div>
  </div>
</li>