<li id="notice-list-<%= notice.id %>" class="notice-list link-list">
  <% if notice.kind == "comment" || notice.kind == "reply" %>
    <% comment = Comment.find_by(id: notice.kind_id) %>
    <a class="content-link" href="<%= kickspost_url(comment.kickspost.user.mysize_id, comment.kickspost) %>"></a>
  <% elsif notice.kind == "follow_list" %>
    <a class="content-link" href="<%= followers_user_path(current_user) %>"></a>
  <% end %>
  <div class="content-abs">
    <div class="content-height">
      <div class="list-content clear">
        <% if notice.kind == "follow_list" %>
          <%= render partial: 'notices/follow_notice' %>
        <% elsif notice.kind == "comment" %>
          <%= render partial: 'notices/comment_notice',
                     locals: {comment: comment,
                              notice: notice } %>
        <% elsif notice.kind == "reply" %>
          <%= render partial: 'notices/comment_notice',
                     locals: {comment: comment,
                              notice: notice } %>
        <% elsif notice.kind == "like" %>
          <span>other</span>
        <% end %>
      </div>
    </div>
  </div>
</li>