<li id="comment-<%= comment.id %>" class="reply-<%= comment.reply_id %> comment-list autolink">
  <div class="comment-content">
    <%= link_to comment.user.mysize_id,
                user_path(comment.user, display: "square"),
                class: "content-name", id: "content-name-" + comment.id.to_s %>
    <span><%= comment.content %></span>
    <% unless comment_disnum == "few" || current_user == comment.user %>
      <span class="comment-act" id="comment-reply-<%= comment.id %>">
        返信<%= fa_icon('reply')%>
      </span>
    <% end %>
  </div>
</li>