<% replies = comment.replies.includes(:user) %>
<% if list == "line" %>
  <li id="comment-<%= comment.id %>" class="reply-<%= comment.reply_id %> comment-list autolink">
    <%= render partial: 'comments/comment_line',
               locals: { comment: comment,
                         comment_disnum: comment_disnum } %>
  </li>
  <% if comment_disnum != "few" && replies.any? %>
    <% replies.each do|reply| %>
      <li id="comment-<%= comment.id %>" class="reply-<%= comment.reply_id %> comment-list autolink reply-line">
        <%= render partial: 'comments/comment_line',
                   locals: { comment: reply,
                             comment_disnum: comment_disnum } %>
      </li>
    <% end %>
  <% end %>
<% else %>
  <%= render partial: 'shared/post_main',
             locals: { post: comment,
                       type: 'Comment',
                       reply_on: false,
                       post_page: post_page } %>
  <% if replies.any? %>
    <% replies.each do|reply| %>
      <%= render partial: 'shared/post_main',
                 locals: { post: reply,
                           type: 'Comment',
                           reply_on: true,
                           post_page: post_page } %>
    <% end %>
  <% end %>
<% end %>