<% replies = comment.replies %>
<% if list == "normal" %>
  <%= render partial: 'comments/comment_line',
             locals: { comment: comment,
                       comment_disnum: comment_disnum } %>
  <% if replies.any? %>
    <% replies.each do|reply| %>
      <%= render partial: 'comments/comment_line',
                 locals: { comment: reply,
                           comment_disnum: comment_disnum } %>
    <% end %>
  <% end %>
<% elsif list == "text" %>
  <li id="comment-<%= comment.id %>" class="reply-<%= comment.reply_id %> kcomment-list autolink">
    <div class="kpost-main clear">
      <%= render partial: 'comments/comment_main',
                 locals: { comment: comment } %>
    </div>
  </li>
  <% if replies.any? %>
    <% replies.each do|reply| %>
      <li id="comment-<%= reply.id %>" class="reply-<%= reply.reply_id %> kcomment-list autolink">
        <div class="kpost-main clear">
          <%= render partial: 'comments/comment_main',
                     locals: { comment: reply } %>
        </div>
      </li>
    <% end %>
  <% end %>
<% end %>