<div class="c inner-form comment-form">
  <%= form_for(:comment, url: comments_url) do |f| %>
    <div><%= f.hidden_field :kickspost_id, value: kickspost.id %></div>
    <div><%= f.hidden_field :user_id, value: current_user.id %></div>
    <%= f.text_field :comment_content, placeholder: "コメントをする" %>
    <div class="inner-button comment-button">
      <%= f.button fa_icon("reply") %>
    </div>
  <% end %>
</div>