<% if list == "normal" %>
  <li id="comment-<%= comment.id %>" class="comment-list autolink">
    <div class="comment-content">
      <%= link_to comment.user.mysize_id,
                  user_path(comment.user, display: "square"),
                  class: "content-name", id: "content-name-" + comment.id.to_s %>
      <span><%= comment.comment_content %></span>
      <% unless comment_disnum == "few" %>
        <% unless current_user == comment.user %>
         <span class="comment-act" id="comment-reply-<%= comment.id %>">
            返信<%= fa_icon('reply')%>
          </span>
        <% end %>
        <% if current_user.in?([comment.user, kickspost.user]) %>
          <span class="comment-act comment-delete">
            <%= render 'comments/comment_delete', comment: comment %>
          </span>
        <% end %>
      <% end %>
    </div>
  </li>
<% elsif list == "text" %>
  <li id="comment-<%= comment.id %>" class="kcomment-list autolink">
    <div class="kpost-main clear">
      <%= render partial: 'comments/comment_main',
                 locals: { comment: comment } %>
    </div>
  </li>
<% end %>