<% provide(:title, "検索") %>
<%= render 'layouts/center_header', header_text: "検 索" %>

<div class="content-sspace search-space">
  <div class="fixed fixed-top">
    <%= render 'shared/search_form' %>
  </div>
</div>
<% unless params[:keyword].nil? %>
  <div class="content-nspace">
    <div class="c select search-select">
      <div class="select-list search-list alist aline">
        <%= link_to "ユーザー", search_path(keyword: params[:keyword], for: 'user') %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "投稿", search_path(keyword: params[:keyword], for: 'post') %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "コメント", search_path(keyword: params[:keyword], for: 'com') %>
      </div>
    </div>
    <div class="search-result">
      <% if params[:for] == 'post' && @kicksposts.any? %>
        <div class="post-main">
          <ul>
            <% @kicksposts.each do |kickspost| %>
              <%= render partial: 'shared/post_main',
                         locals: { post: kickspost,
                                   type: 'Kickspost',
                                   reply_on: false } %>
            <% end %>
          </ul>
        </div>
      <% elsif params[:for] == 'com' && @comments.any? %>
        <div class="post-main">
          <ul>
            <% @comments.each do |comment| %>
              <%= render partial: 'shared/post_main',
                         locals: { post: comment,
                                   type: 'Comment',
                                   reply_on: false } %>
            <% end %>
          </ul>
        </div>
      <% elsif (params[:for] == 'user' || params[:for].blank?) && @users.any? %>
        <div class="setting-select">
          <ul>
            <%= render @users %>
          </ul>
        </div>
      <% else %>
        <%= render partial: 'shared/no_data',
                   locals: { user: current_user,
                             target: nil } %>
      <% end %>
    </div>
  </div>
<% end %>