<% provide(:title, "検索") %>

<div class="content-sspace">
  <%= render 'shared/search' %>
</div>
<% unless params[:search].nil? %>
  <div class="content-nspace">
    <div class="c search-select">
      <div class="search-list">
        <%= link_to "ユーザー", search_path(search: params[:search]) %>
      </div>
      <div class="search-list">
        <%= link_to "投稿", search_path(search: params[:search], for: 'post') %>
      </div>
    </div>
    <div class="search-result">
      <% if params[:for] == 'post' %>
        <% if @kicksposts.blank? %>
          <%= render partial: 'shared/no_data',
                     locals: { user: current_user,
                               target: nil } %>
        <% else %>
          <div class="post-main">
            <div class="post-line clear">
              <ul>
                <%= render @kicksposts %>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if @users.blank? %>
          <%= render partial: 'shared/no_data',
                     locals: { user: current_user,
                               target: nil } %>
        <% else %>
          <div class="setting-select">
            <ul>
              <%= render @users %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
