<li class="user-list">
  <a href="<%= user_path(auser) %>" class="index-data">
    <div class="c index-left">
      <div class="index-image">
        <%= image_tag(image_url(auser), alt: auser.name, size: 40) %>
      </div>
      <div class="index-size">
        <%= auser.shoe_size %>
      </div>
    </div>
    <div class="index-center">
      <div class="index-name">
        <%= auser.name %>
      </div>
      <div class="index-mysizeid">
        <%= fa_icon("at") + auser.mysize_id %>
      </div>
    </div>
    <div class="index-profile">
      <%= auser.profile_content %>
    </div>
  </a>
  <div class="act-form">
    <% if current_user.admin? && !current_user?(auser) %>
      <%= link_to "削除", auser, method: :delete,
                               data: { confirm: "本当にいいですか??" } %>
    <% end %>
  </div>
</li>