<li class="user-list">
  <a href="<%= user_path(user, display: 'square') %>" class="index-data">
    <div class="c index-left">
      <div class="index-image">
        <%= image_tag(image_url(user), alt: user.name, size: 40) %>
      </div>
      <div class="index-size">
        <%= user.shoe_size %>
      </div>
    </div>
    <div class="index-center">
      <div class="index-name">
        <%= user.name %>
      </div>
      <div class="index-mysizeid">
        <%= fa_icon("at") + user.mysize_id %>
      </div>
    </div>
    <div class="index-profile">
      <%= user.profile_content %>
    </div>
  </a>
  <div class="act-form">
    <% unless current_user?(user) %>
      <%= render partial: 'users/follow_form', locals: { user: user } if logged_in? %>
    <% end %>
  </div>
</li>