<li class="user-list">
  <a href="<%= user_path(user) %>" class="index-data">
    <div class="c index-left">
      <div class="index-image">
        <%= image_tag(image_url(user), alt: user.name, size: 40) %>
      </div>
      <div class="index-size">
        <%= 21.5 + user.shoe_size / 2.0 %>
      </div>
    </div>
    <div class="index-center">
      <div class="index-name">
        <%= user.name %>
      </div>
      <div class="index-mysizeid">
        <%= fa_icon("at") + user.mysize_id %>
      </div>
    </div>
    <div class="index-profile">
      <%= user.profile_content %>
    </div>
  </a>
  <div class="act-form">
    <% if !current_user?(user) %>
      <%= link_to fa_icon("user") + fa_icon("plus"), '#' %>
    <% end %>
  </div>
</li>