<% provide(:title, '管理者ページ') %>
<% provide(:og_title, '管理者ページ') %>
<% provide(:og_url, admusrind_url) %>
<% provide(:search_url, admusrind_path) %>

<div class="content-nspace fixed-space">
  <div class="fixed fixed-top">
    <%= render 'shared/search_form' %>
  </div>
</div>
<% unless params[:keyword].nil? %>
  <div class="select search-select c">
    <div class="container clear">
      <div class="select-list search-list alist aline">
        <%= link_to "ユーザー", admusrind_path(for: 'user', keyword: params[:keyword]) %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "投稿", admusrind_path(for: 'post', keyword: params[:keyword]) %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "コメント", admusrind_path(for: 'com', keyword: params[:keyword]) %>
      </div>
    </div>
  </div>
  <div class="container post-main">
    <div class="content-nspace">
      <% if params[:for] == 'post' && @kicksposts.any? %>
        <div class="post-main">
          <ul>
            <% @kicksposts.each do |kickspost| %>
              <%= render partial: 'shared/admin_post_main',
                         locals: { post: kickspost,
                                   type: 'Kickspost' } %>
            <% end %>
          </ul>
        </div>
      <% elsif params[:for] == 'com' && @comments.any? %>
        <div class="post-main">
          <ul>
            <% @comments.each do |comment| %>
              <%= render partial: 'shared/admin_post_main',
                         locals: { post: comment,
                                   type: 'Comment' } %>
            <% end %>
          </ul>
        </div>
      <% elsif (params[:for] == 'user' || params[:for].blank?) && @users.any? %>
        <div class="setting-select">
          <ul>
            <% @users.each do |user| %>
              <%= render partial: 'users/auser',
                         locals: { user: user } %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <%= render partial: 'shared/no_data',
                   locals: { icon: nil,
                             text: 'search-no-hit' } %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="content-nspace">
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'search',
                           text: 'search' } %>
    </div>
  </div>
<% end %>