<% provide(:title, @user.name + "(@" + @user.mysize_id + ")さんの" + @title) %>
<%= render 'layouts/back', back_path: "#{user_path(@user)}" %>
<%= render 'layouts/center_header', header_text: @title %>
<% unless @users.blank? %>
  <div class="content-nspace">
    <div class="setting-select">
      <ul>
        <%= render @users %>
      </ul>
    </div>
  </div>
<% else %>
  <% if @title == 'フォロー' %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'user',
                         text: 'follow' } %>
  <% else %>
    <%= render partial: 'shared/no_data',
               locals: { icon: 'user',
                         text: 'post-follow' } %>
  <% end %>
<% end %>