<% provide(:title, @user.name + "(@" + @user.mysize_id + ")さん") %>
<% provide(:og_title, @user.name + "(@" + @user.mysize_id + ")さん") %>
<% provide(:og_url, user_url(@user)) %>
<% content_for :javascript_addition do %>
  <%= javascript_include_tag "frontend/mypage_square" %>
<% end %>

<div class="container content-mspace">
  <%= render partial: 'users/user_profile',
             locals: { user: @user } %>
</div>
<div class="container post">
  <%= render partial: 'users/post_select',
             locals: { user: @user } %>
  <div class="post-main">
    <% if @user.kicksposts.blank? %>
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'image',
                           text: 'post' } %>
    <% else %>
      <% if params[:display] == "square" %>
        <div class="post-line clear" data-react-entry="MypageSquarePosts"></div>
      <% else %>
        <div class="post-line clear">
          <ul>
            <% @kicksposts.each do |kickspost| %>
              <%= render partial: 'shared/post_main',
                  locals: { post: kickspost,
                            type: 'Kickspost',
                            reply_on: false,
                            post_page: false } %>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>