<div class="c no-post">
  <% case icon
    when 'image' %>
    <%= fa_icon('image') %>
  <% when 'user' %>
    <%= fa_icon('user-o') %>
  <% when 'good' %>
    <%= fa_icon('thumbs-o-up') %>
  <% when 'search' %>
    <small><%= fa_icon('search') %></small>
  <% when 'notice' %>
    <%= fa_icon('bell-o') %>
  <% when 'develop' %>
    <%= fa_icon('wrench') %>
  <% else %>
    <%= fa_icon('question') %>
  <% end %>
  <div class="no-text">
    <% case text
      when 'search' %>
      <p>上のフォームより</p>
      <p>キーワードを入力してください</p>
    <% when 'search-no-hit' %>
      <p>検索結果は０件です</p><p>キーワードを確認してみてください</p>
    <% when 'notice' %>
      <p>１件もありません</p>
    <% when 'develop' %>
      <p>現在、開発中です</p><p>完成までいましばらくお待ちください</p>
    <% else %>
      <p>表示できるデータがありません</p>
      <% if logged_in? && current_user?(@user) %>
        <% case text
          when 'post', 'post-follow' %>
          <p>あなたのマイスニーカーについて投稿しましょう！</p>
          <% if text == 'post-follow' %>
            <p>フォローしてもらえるかもしれません！</p>
          <% end %>
          <div class="no-link">
            <a href="<%= upload_path %>">
              <%= fa_icon("plus-square") %><span>投稿する</span>
            </a>
          </div>
        <% when 'follow' %>
          <p>まずは、あなたと同じサイズの人を探して</p>
          <p>フォローしましょう！</p>
          <div class="no-link">
            <a href="<%= search_path(for: 'user', keyword: @user.size ) %>">
              <%= fa_icon("search") %><span>検索する</span>
            </a>
          </div>
        <% when 'good' %>
          <p>グッドはメモとしても使えます！</p>
          <p>キーワード検索をして役立つ情報には</p>
          <p>どんどんグッドをしましょう！</p>
          <div class="no-link">
            <a href="<%= search_path %>">
              <%= fa_icon("search") %><span>検索する</span>
            </a>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>