<div class="c index-left kpost-left">
  <%= render 'shared/index_left', user: kickspost.user %>
</div>
<div class="kpost-center">
  <div class="kpost-name">
    <%= link_to kickspost.user.mysize_id,
                user_path(kickspost.user, display: "square") %>
  </div>
  <div class="kpost-content autolink">
    <%= kickspost.content %>
  </div>
</div>
<div class="c kpost-right">
  <div class="kpost-picture">
    <div class="abs-center">
      <%= link_to image_tag(picture_url(kickspost),
                            alt: kickspost.content,
                            size: 50),
                  kickspost_path(kickspost.user.mysize_id, kickspost) %>
    </div>
  </div>
  <div class="kpost-size">
    <%= kickspost.size %>
  </div>
  <div class="kpost-act">
    <div class="kpost-alist">
      <%= render partial: 'goods/good_form',
                 locals: { kind_model: kickspost,
                           kind: "gpost" } %>
    </div>
  </div>
</div>