<li id="kickspost-<%= kickspost.id %>" class="kickspost-list">
  <div class="post-top">
    <div class="post-icon">
      <%= link_to image_tag(image_url(kickspost.user), size: 40), kickspost.user %>
    </div>
    <div class="post-content">
      <div class="post-name">
        <%= kickspost.user.name %>
      </div>
      <div class="post-mysizeid">
        <%= fa_icon("at") + kickspost.user.mysize_id %>
      </div>
    </div>
  </div>
  <div class="post-middle">
    <div class="post-picture">
      <%= kickspost.picture unless kickspost.picture.nil? %>
    </div>
    <div class="post-react">
      <i class="fa fa_heart"></i>
    </div>
  </div>
  <div class="post-bottom">
    <div class="post-content">
      <span><%= kickspost.user.name %></span><%= kickspost.content %>
    </div>
    <div class="post-time">
      <span><%= time_ago_in_words(kickspost.created_at) %>前</span>
  </div>
</li>