<% provide(:title, "投稿作成") %>
<% provide(:og_title, "投稿作成") %>
<% provide(:og_url, upload_url) %>
<%= render 'layouts/back', back_path: "#{user_path(current_user)}" %>
<%= render 'layouts/center_header', header_text: "投稿作成" %>

<div class="content-fspace">
  <div class="post-form">
    <%= form_for(@kickspost, url: upload_path, multipart: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="set-form clear">
        <div class="upload-form">
          <div class="label-form file-label">
            <%= f.label :picture, "画像" %>
          </div>
          <div class="file-form">
            <%= f.label :picture, class: "upload-button" do %>
              <div class="upload-icon">
                <%= fa_icon("plus") %>
              </div>
              <div class="preview"></div>
            <% end %>
          </div>
          <div class="base-form hidden-form">
            <%= f.file_field :picture %>
            <%= f.hidden_field :picture_cache %>
          </div>
        </div>
        <div class="size-form">
          <div class="label-form select-label">
            <%= f.label :size, "スニーカーのサイズ" %>
          </div>
          <div class="base-form select-form">
            <%= f.select(:size, options_for_select(size_array), prompt: "選 択") %>
            <div class="c select-icon"><%= fa_icon("chevron-down") %></div>
          </div>
        </div>
      </div>
      <div class="label-form">
        <%= f.label :title, "ラベル" %>
      </div>
      <div class="base-form">
        <%= f.text_field :title, placeholder: "スニーカーの正式名称、カラーなど" %>
      </div>
      <div class="label-form">
        <%= f.label :content, "投稿フォーム" %>
      </div>
      <div class="base-form base-form-area">
        <%= f.text_area :content, class: "autoheight text-area",
          placeholder: "スニーカーのサイズ感や履き心地、エピソードなど好きなように投稿しましょう！(500文字以内)\n\nハッシュタグも付けられます！\n(#nike #airmax ...)" %>
      </div>
      <div class="c button button-mini accent">
        <%= f.submit "投稿する", data: { disable_with: "処理中..."} %>
      </div>
      <script type="text/javascript">
        $('#kickspost_picturre').bind('change', function() {
          var size_in_megabytes = this.file[0].size/1024/1024;
          if (size_in_megabytes > 10) {
            alert('ファイルは最大10MBまでとなります。');
          }
        });
      </script>
    <% end %>
  </div>
</div>