<div class="c select kpost-select">
  <div class="select-list kpost-list alist aline">
    <%= link_to "テキスト",
        kickspost_path(@kickspost.user.mysize_id, @kickspost) %>
  </div>
  <div class="select-list kpost-list alist aline">
    <%= link_to "写真",
        kickspost_path(@kickspost.user.mysize_id, @kickspost, display: "picture")%>
  </div>
</div>
<div class="post-main">
  <% unless params[:display] == "picture" %>
    <ul>
      <%= render @kickspost, comment_disnum: nil %>
      <%= render partial: @comments,
                 locals: { kickspost: @kickspost,
                           comment_disnum: nil,
                           list: "text" } %>
    </ul>
  <% else %>
    <%= render partial: 'kicksposts/kickspost_picture',
               locals: { kickspost: @kickspost,
                         comment_disnum: nil } %>
  <% end %>
  <% if logged_in? %>
    <div class="fixed fixed-bottom">
      <%= render partial: 'comments/comment_form',
                 locals: { kickspost: @kickspost } %>
    </div>
  <% end %>
</div>