<%= form_for(@user, url: welcome_path, multipart: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="label-form">
    <%= f.label :name, "*ユーザー名" %>
  </div>
  <div class="base-form">
    <%= f.text_field :name, placeholder: "ユーザー名" %>
  </div>
  <div class="label-form">
    <%= f.label :mysize_id, "*Mysize ID" %>
  </div>
  <div class="base-form">
    <%= f.text_field :mysize_id, placeholder: "a-z,0-9,_ 15文字以内" %>
  </div>
  <div class="set-form clear">
    <div class="upload-form">
      <div class="label-form file-label">
        <%= f.label :image, "アイコン" %>
      </div>
      <div class="file-form">
        <%= f.label :image, class: "upload-button" do %>
          <div class="upload-icon">
            <% if @user.image.blank? %>
              <%= fa_icon("plus") %>
            <% else %>
              <%= fa_icon("refresh") %>
            <% end %>
          </div>
          <% if @user.image.blank? %>
            <div class="preview"></div>
          <% else %>
            <div class="preview"><%= image_tag(image_url(@user), alt: @user.name, class: "cover") %></div>
          <% end %>
        <% end %>
      </div>
      <div class="base-form hidden-form">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
    <div class="size-form">
      <div class="label-form select-label font-mini">
        <%= f.label :size, "*スニーカーのベースサイズ" %>
      </div>
      <div class="base-form select-form">
        <%= f.select(:size, options_for_select(size_array, @user.size), prompt: "選 択") %>
        <div class="c select-icon"><%= fa_icon("chevron-down") %></div>
      </div>
    </div>
  </div>
  <div class="label-form">
    <%= f.label :password, "*Password" %>
  </div>
  <div class="base-form">
    <%= f.password_field :password, placeholder: "6文字以上" %>
  </div>
  <div class="label-form">
    <%= f.label :password_confirmation, "*Password確認" %>
  </div>
  <div class="base-form">
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="c button button-mini accent">
    <%= f.submit yield(:button_text), data: { disable_with: "処理中..."} %>
  </div>
  <script type="text/javascript">
    $('#user_image').bind('change', function() {
      var size_in_megabytes = this.file[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('ファイルは最大5MBまでとなります。');
      }
    });
  </script>
<% end %>