<%= form_for(current_user, url: yield(:post_url), multipart: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="label-form">
    <label for="user_name"><span class="font-accent">*</span>ユーザー名</label>
  </div>
  <div class="base-form">
    <%= f.text_field :name, placeholder: "(例) 靴好き男" %>
  </div>
  <div class="set-form clear">
    <div class="upload-form">
      <div class="label-form file-label">
        <%= f.label :image, "アイコン" %>
      </div>
      <div class="file-form">
        <%= f.label :image, class: "upload-button" do %>
          <div class="upload-icon">
            <%= fa_icon(current_user.image.blank? ? "plus" : "refresh") %>
          </div>
          <div class="preview">
            <% if current_user.image.present? %>
              <%= image_tag(image_url(current_user), alt: current_user.name, class: "cover") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="base-form hidden-form">
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
      </div>
    </div>
    <div class="size-form">
      <div class="label-form select-label font-mini">
        <label for="user_size"><span class="font-accent">*</span>スニーカーのベースサイズ</label>
      </div>
      <div class="base-form select-form">
        <%= f.select(:size, options_for_select(size_array, current_user.size)) %>
        <div class="c select-icon"><%= fa_icon("chevron-down") %></div>
      </div>
    </div>
  </div>
  <div class="label-form">
    <%= f.label :content, "プロフィール" %>
  </div>
  <div class="base-form base-form-area">
    <%= f.text_area :content, class: "autoheight text-area",
        placeholder: "具体的なスニーカーのサイズ例や簡単な自己紹介などを記入しましょう(160文字以内)
(例)Jordan1(27cm)/StanSmith(26.5cm)/好きなブランドなど..." %>
  </div>
  <div class="c button button-mini accent">
    <%= f.submit yield(:button_text), data: { disable_with: "処理中..."} %>
  </div>
  <script type="text/javascript">
    $('#user_image').bind('change', function() {
      var size_in_megabytes = this.file[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('ファイルは最大5MBまでとなります。');
      }
    });
  </script>
<% end %>