<% provide(:title, "退会") %>
<div class="content">
  <div class="page-title">
    <h1 class="title-text">Mysizeから退会する</h1>
  </div>
  <% unless current_user.admin? %>
    <div class="leave-text">
      <p>退会すると全ての投稿や質問などが削除され、復帰することはできません。</p>
    <div class="set-form">
      <%= form_tag('/settings/leave', method: "delete") do %>
        <%= render 'shared/error_messages' %>
        <div class="label-form" style="margin: 30px 0;">
          <%= label_tag :password, "パスワード" %>
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>
        <p>※退会処理には時間がかかる場合がございます。退化処理が完了するまで画面を閉じずにお待ちください。</p>
        <div class="c button button-mini accent">
          <%= submit_tag "退会する", data: { disable_with: "処理中...",
                                         confirm: "退会します。取り消せませんがよろしいですか？"} %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="c">このアカウントは削除できません。</p>
  <% end %>
</div>