<% provide(:title, "MysizeID編集") %>
<%= render 'layouts/back', back_path: "#{account_settings_path}" %>
<%= render 'layouts/center_header', header_text: "MysizeID編集" %>

<div class="content">
  <div class="set-form">
    <%= form_for(@user, url: mysizeid_settings_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="c base-form">
        <%= f.text_field :mysize_id, placeholder: "MysizeID (a-z,0-9,_ 15文字以内)" %>
      </div>
      <div class="c button button-mini accent">
        <%= f.submit "保存", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>