<% provide(:title, "オプション") %>

<div class="content-nspace">
  <div class="ns-page-title">
    <h1 class="title-text">オプション</h1>
  </div>
  <div class="setting-select">
    <ul>
      <li class="set-list">
        <a href="<%= account_settings_path %>">
          <div class="set-text set-text1">
            アカウント設定
          </div>
          <div class="set-icon">
            <%= fa_icon("angle-right") %>
          </div>
        </a>
      </li>
      <li class="set-list">
        <a href="<%= help_path %>">
          <div class="set-text set-text1">
            ヘルプ
          </div>
          <div class="set-icon">
            <span><%= fa_icon("angle-right") %></span>
          </div>
        </a>
      </li>
      <li class="set-list">
        <a href="<%= terms_path %>">
          <div class="set-text set-text1">
            利用規約
          </div>
          <div class="set-icon">
            <span><%= fa_icon("angle-right") %></span>
          </div>
        </a>
      </li>
      <li class="set-list">
        <a href="<%= privacy_path %>">
          <div class="set-text set-text1">
            プライバシーポリシー
          </div>
          <div class="set-icon">
            <span><%= fa_icon("angle-right") %></span>
          </div>
        </a>
      </li>
      <li class="set-list">
        <a href="<%= about_path %>">
          <div class="set-text set-text1">
            Mysizeについて
          </div>
          <div class="set-icon">
            <span><%= fa_icon("angle-right") %></span>
          </div>
        </a>
      </li>
      <li class="set-list">
        <a href="#">
          <div class="set-text set-text1">
            公式ツイッター
          </div>
          <div class="set-icon">
            <span><%= fa_icon("angle-right") %></span>
          </div>
        </a>
      </li>
      <% if current_user.admin? %>
        <li class="set-list">
          <a href="<%= admusrind_url %>">
            <div class="set-text set-text1">
              管理者ページ
            </div>
            <div class="set-icon">
              <span><%= fa_icon("angle-right") %></span>
            </div>
          </a>
        </li>
      <% end %>
      <li class="set-list">
        <a rel="nofollow" data-method="delete" href="<%= logout_path %>">
          <div class="set-text set-text1">
            ログアウト
          </div>
          <div class="set-icon">
            <%= fa_icon("angle-right") %>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>