<% provide(:title, "Password編集") %>
<% provide(:og_title, "Password編集") %>
<% provide(:og_url, password_settings_url) %>
<%= render 'layouts/back', back_path: "#{account_settings_path}" %>
<%= render 'layouts/center_header', header_text: "Password編集" %>

<div class="content">
  <div class="form">
    <%= form_for(@user, url: password_settings_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="base-form">
        <%= f.password_field :password, placeholder: "新しいPassword" %>
      </div>
      <div class="base-form">
        <%= f.password_field :password_confirmation, placeholder: "Password確認" %>
      </div>
      <div class="c button button-mini accent">
        <%= f.submit "保存", data: { disable_with: "処理中..."} %>
      </div>
    <% end %>
  </div>
</div>