<% provide(:title, "検索") %>
<% provide(:og_title, "検索") %>
<% provide(:og_url, search_url) %>
<%= render 'layouts/center_header', header_text: "検 索" %>
<% provide(:search_url, search_path) %>
<% content_for :javascript_addition do %>
  <%= javascript_include_tag "frontend/search" %>
  <%= stylesheet_link_tag "frontend/search", media: :all %>
<% end %>

<div class="content-nspace fixed-space">
  <div class="fixed fixed-top">
    <%= render 'shared/search_form' %>
  </div>
</div>
<% unless params[:keyword].nil? %>
  <div class="select search-select c">
    <div class="container clear">
      <div class="select-list search-list alist aline">
        <%= link_to "ユーザー", search_path(keyword: params[:keyword], for: 'user') %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "投稿", search_path(keyword: params[:keyword], for: 'post') %>
      </div>
      <div class="select-list search-list alist aline">
        <%= link_to "コメント", search_path(keyword: params[:keyword], for: 'com') %>
      </div>
    </div>
  </div>
  <div class="container post-main">
    <div class="content-nspace">
      <% if params[:for] == 'post' && @kicksposts.any? %>
        <div data-react-entry="SearchKicksposts"></div>
      <% elsif params[:for] == 'com' && @comments.any? %>
        <div data-react-entry="SearchComments"></div>
      <% elsif (params[:for] == 'user' || params[:for].blank?) && @users.any? %>
        <div class="setting-select">
          <ul>
            <%= render @users %>
          </ul>
        </div>
      <% else %>
        <%= render partial: 'shared/no_data',
                   locals: { icon: nil,
                             text: 'search-no-hit' } %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="content-nspace">
      <%= render partial: 'shared/no_data',
                 locals: { icon: 'search',
                           text: 'search' } %>
    </div>
  </div>
<% end %>