<% if logged_in? %>
  <div id="good-form-<%= type.downcase %>-<%= post.id %>" class="good-form">
  <% if current_user.good?(type, post) %>
    <%= render partial: 'goods/ungood_button',
               locals: { post: post,
                         type: type } %>
  <% else %>
    <%= render partial: 'goods/good_button',
               locals: { post: post,
                         type: type } %>
  <% end %>
  </div>
<% elsif  !logged_in? %>
  <div class="good-form">
    <%= render partial: 'goods/good_button' %>
  </div>
<% end %>