<header>
  <div class="wrapper container">
    <div class="header-link">
      <% if logged_in? %>
        <% if content_for?(:left_header) %>
          <%= yield(:left_header) %>
        <% else %>
          <%= link_to image_tag(image_url(current_user), size: 40, alt: current_user.name), current_user, class: "left-header" %>
        <% end %>
      <% else %>
        <% if content_for?(:left_header) %>
          <%= yield(:left_header) %>
        <% else %>
          <%= link_to fa_icon("sign-in"), login_path, class: "left-header" %>
        <% end %>
      <% end %>
    </div>
    <div class="header-link">
      <div class="logo">
        <a class="logo-text" href="<%= root_path %>">
          <%= image_tag("/images/apps_icon5.png", size: 24) %>
          <span class="logo-font">Mysize</span>
        </a>
      </div>
    </div>
    <div class="header-link">
      <% if content_for?(:right_header) %>
        <%= yield(:right_header) %>
      <% else %>
        <%= link_to fa_icon("plus-square"), upload_path, class: "right-header" %>
      <% end %>
    </div>
  </div>
</header>