<nav>
  <div class="wrapper container">
    <div class="nav-link alist">
      <% if logged_in? %>
        <%= link_to fa_icon("home"), root_path %>
      <% else %>
        <%= link_to fa_icon("home"), latest_path %>
      <% end %>
    </div>
    <div class="nav-link alist">
      <%= link_to fa_icon("search"), search_path %>
    </div>
    <div class="nav-link alist">
      <% if logged_in? %>
        <%= link_to(notice_path) do %>
          <i class="fa fa-bell">
            <% ncount = current_user.notices.pluck(:unread_count).sum %>
            <% if ncount > 0 %>
              <span id="notice-count"><%= ncount %></span>
            <% end %>
          </i>
        <% end %>
      <% else %>
        <a class="right-header jump" data-scroll="-50" href="<%= about_path(about: 'on2') %>#about-can3">
          <%= fa_icon("bell") %>
        </a>
      <% end %>
    </div>
    <div class="nav-link alist">
      <% if logged_in? %>
        <%= link_to fa_icon("thumbs-up"), good_user_path(current_user) %>
      <% else %>
        <a class="right-header jump" data-scroll="-50" href="<%= about_path(about: 'on3') %>#about-can3">
          <%= fa_icon("thumbs-up") %>
        </a>
      <% end %>
    </div>
  </div>
</nav>