<nav>
  <div class="wrapper container">
    <div class="nav-link alist">
      <%= link_to fa_icon("home"), latest_path %>
    </div>
    <div class="nav-link alist">
      <%= link_to fa_icon("search"), search_path %>
    </div>
    <div class="nav-link alist">
      <%= link_to(notice_path) do %>
        <i class="fa fa-bell">
          <% if logged_in? %>
            <% ncount = current_user.notices.pluck(:unread_count).sum %>
            <% if ncount > 0 %>
              <span id="notice-count"><%= ncount %></span>
            <% end %>
          <% end %>
        </i>
      <% end %>
    </div>
    <div class="nav-link alist">
      <%= link_to fa_icon("comment"), comments_path %>
    </div>
  </div>
</nav>