<nav>
  <div class="wrapper container">
    <div class="nav-link">
      <%= link_to fa_icon("home"), latest_url %>
    </div>
    <div class="nav-link">
      <%= link_to fa_icon("search"), search_url %>
    </div>
    <div class="nav-link">
      <%= link_to(notice_url) do %>
        <i class="fa fa-bell">
          <% if logged_in? && current_user.notice_count > 0 %>
            <span id="notice-count"><%= current_user.notice_count %></span>
          <% end %>
        </i>
      <% end %>
    </div>
    <div class="nav-link">
      <%= link_to fa_icon("comment"), '#' %>
    </div>
  </div>
</nav>