<nav>
  <div class="wrapper container">
    <div class="nav-link">
      <%= link_to fa_icon("home"), latest_url %>
    </div>
    <div class="nav-link">
      <%= link_to fa_icon("search"), search_url %>
    </div>
    <!--
    <div class="nav-link">
      <%= link_to fa_icon("plus-square"), '#' %>
    </div>
  -->
    <div class="nav-link">
      <%= link_to fa_icon("bell"), '#' %>
    </div>
    <div class="nav-link">
      <%= link_to fa_icon("comment"), '#' %>
      <!--
      <a href="#"">
        <span class="fa-stack">
          <i class="fa fa-comment-o fa-stack-1x"></i>
          <i class="fa fa-question fa-stack-1x fa-05x"></i>
        </span>
      </a>
      -->
    </div>
  </div>
</nav>