<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <% if Rails.env.production? %>
      <%= render 'layouts/analytics' %>
    <% end %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/meta_data' %>
    <%= render 'layouts/links' %>
    <%= yield(:javascript_application) if content_for?(:javascript_application) %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if Rails.env.production? %>
      <%= render 'layouts/tag_manager' %>
    <% end %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <div id="main">
      <%= yield %>
    </div>
    <%= render 'layouts/navi' %>
    <%= render 'layouts/footer' %>
    <%= yield(:javascript_addition) if content_for?(:javascript_addition) %>
  </body>
</html>